TOCHKA_CLIENT_ID=2951813ba68768090073bca1ba046e28
TOCHKA_JWT_KEY="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIyOTUxODEzYmE2ODc2ODA5MDA3M2JjYTFiYTA0NmUyOCIsInN1YiI6ImVkM2E2ODU3LTQ5MjktNDJlMS1hYmMzLWJkOGNmODcxYTc0YiIsImN1c3RvbWVyX2NvZGUiOiIzMDMwOTM1MTkifQ.ZIZb7ZEd0Wm07zMHxI6Nc5KuErE3hElsXXI36x_nY8_SW4V3_u4owGithI5VRlE0rVHUPvXabcJJoHUdYW5Suy9RJzjSltEB3xm6993PiK9qk7F6xso2SjZ_ZnhEcN3FLw6c5EM_8zjlIqDQFc4YgIrYnmwHNyimasb9ErVxFQ1kt1NE5F8fNGIKBj3ZeZmK81-UD7kZ7rb9U9nCkfywhXW1oYqSVzwzjLtUjvtGO4cIZZKpgsed8gbZ_IzCkfWM3GP3IlYl5CHqZe1qLtYWjEMiWcmg2JsE-vyzvfXVGM0rA0GEDrbeuU5Yc7RUMZdj0bL392eyGcbfuNdU___kc0wld_8-caGJ-JkNV6X3OTGR0dry8q9upMTcfDJ5QzAfW68nB0WAlgZ64KMzbL55iKKv7HC9psg_BGnVLmRnAIj5xQj60loX_ZdzAm0b6I-fO7aOTiYdIOFwcpuxo1T0UVoLBWjnhWtLBqQo72ptcBUoisWRK_z-6Ypfd_P8Dx7S"
